@font-face {
    font-family: hanken-grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    background-color: white;
    font-family: hanken-grotesk;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

html,
body {
    margin: 0;
}

h1,
h2,
p,
span,
div {
    background-color: transparent;
}

main {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 1rem 0.5rem 2rem hsl(221, 100%, 96%);
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.left,
.right {
    border-radius: 2rem;
}

@media screen and (width <= 600px) {
    body {
        display: block;
    }

    .left {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.left > * {
    text-align: center;
}

.left {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left > h1 {
    margin-top: 1.5rem;
}

.left > p {
    margin: 1rem 2rem;
    font-size: 17px;
}

.left > h2 {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.circle {
    margin-top: 1rem;
    border-radius: 50%;
    width: 50%;
    aspect-ratio: 1/1;
    background-image: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle > div {
    height: 3rem;
    position: relative;
    font-size: 64px;
    color: hsl(0, 0%, 100%);
    line-height: 3rem;
    position: relative;
    text-align: center;
    font-weight: 700;
}

.circle h2 {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 14px;
    margin-top: 2.2rem;
}

.content {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.continue-button {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.continue-button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.right {
    padding-bottom: 0;
    padding-top: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.summary-heading {
    color: hsl(224, 30%, 27%);
}

li {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.scores-list {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0;
}

.scores-list * {
    font-weight: 700;
}

.value-text {
    margin-left: auto;
    color: hsl(224, 30%, 27%);
}

img {
    background: transparent;
    margin-right: 0.5rem;
}
